# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.fuse_hidden0000006b00000001
ISP/4term/lab2/.fuse_hidden000001a200000001
*.fuse_hidden000001a300000002
MCHA/lab3/.ropeproject/config.py
MCHA/lab2/.ropeproject/history
*.ipynb
MCHA/lab2/.ropeproject/config.py
ISP/4term/lab2/.ropeproject/globalnames

